<html>
<head>
    <title>
        Movie Booking
    </title>
</head>
<body>
    <h1>
        Register
    </h1>
    <form action="/register" method="POST"> <!-- Updated action attribute and added method attribute -->
        <label for="fname">Username:</label>
        <input type="text" id="fname" name="fname" required><br><br>
        <label for="passw">Password:</label>
        <input type="password" id="passw" name="passw" required><br><br>
        <label for="validpassw">Confirm Password:</label>
        <input type="password" id="validpassw" name="validpassw" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
